/*-----PRINCIPAL STYLE SHEET-----------

AUTOR: MOSTRO MEDIA

*/

*{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

/*PRINCIPAL STYLE BODY*/
/*--------END----------*/

/*LOGO & SOCIAL MEDIA*/
/*--------END----------*/

/*NAVIGATION*/
/*--------END----------*/

/*PRINCIPAL CONTENT & SECTIONS*/
/*--------END----------*/
